// Pallette here, https://coolors.co/dd7373-3b3561-ead94c-d1d1d1-51a3a3
$dark1: #3B3561;
$light1: #EAD94C;
$light2: #51A3A3;
$neutral1: #D1D1D1;
$neutral2: #eded80;
$danger1: #DD7373;
$white: white;

.light1 {
	color: $light1;
}
