$font-family: Arial;
$gutter: 1rem;
$border-radius: 0.25rem;
$breakpoint-small: 768px;

$transition-quickest: 0.25s;
$transition-quicker: 0.5s;
$transition-quick: 1s;
$transition-slowest: 6s;
$transition-slower: 4s;
$transition-slow: 2s;